[Unit]
Description=Webserver for BirdNET
After=network.target
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/BirdNET
ExecStart=/usr/bin/python3 server.py
Restart=on-abort
[Install]
WantedBy=multi-user.target